<nav id="nav">
	<div id="nav-list">
		<a href="{{ site.baseurl }}">Home</a>
	  <a href="{{ site.baseurl }}about.html">About the jam</a>
	  <a href="{{ site.baseurl }}2BuyAPi.md">Places to buy pi</a>
	  <a href="https://github.com/fth.dev/fthdev.github.io">Check the site on github</a>
	  <a href="{{ site.baseurl }}about.html">Placeholder1</a>
	  <a href="{{ site.baseurl }}about.html">Placeholder2</a>
	  <a href="{{ site.baseurl }}about.html">Placeholder3</a>
	  
	</div>
	<span>version {{ site.version }}</span>
</nav>
